
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/topics' | prepend: site.baseurl | prepend: site.url }}">Topics</a></li>
      <li><a href="{{ '/eli5' | prepend: site.baseurl | prepend: site.url }}">Eli5 Series</a></li>
      <li><a href="{{ '/projects' | prepend: site.baseurl | prepend: site.url }}">Projects</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a></li>
    </ul>
  </div>
</nav>
